{% extends 'layouts/base.html' %} 

{% block content %}
<div class="container-fluid">
  <div class="row">
    {% if questions|length > 0 %}
      {% for question in questions %}
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-text">{{ question.text }}</h3>
            <a class="btn btn-outline-primary" href="{% url 'pollers:vote' question.id %}"
              >Vote now</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
    <div class="col-12 text-center"><h3>No poll questions available.</h3></div>
    {% endif %}
  </div>
</div>
{% endblock content %}
