{% extends 'layouts/base.html' %} 

{% block content %}
<div class="container">
  <!-- Alert -->
  {% include 'reusables/alert.html' %}
  
  <h1 class="text-center">{{ question.text }}</h1>

  <div class="row">
    <div class="col-md-6 my-3">
      <form>
        {% csrf_token %} 
        {% for choice in question.choice_set.all %}
        <div class="form-check">
          <input
            type="radio"
            name="choice"
            class="form-check-input"
            id="choice{{ forloop.counter }}"
            value="{{ choice.id }}"
          />
          <label class="form-check-label" for="choice{{ forloop.counter }}"
            >{{ choice.text }}</label
          >
        </div>
        {% endfor %}

        <a class="btn btn-outline-secondary" href="{% url 'pollers:index' %}"
          >Back to pollers</a
        >
        <button
          type="button"
          id="btn-vote"
          class="btn btn-outline-primary"
          data-question-id="{{ question.id }}"
        >
          Vote
        </button>
      </form>
    </div>
    <div class="col-md-6 my-3">
      <ul class="list-group">
        {% for choice in question.choice_set.all %}
        <li class="list-group-item" data-choice-id="{{ choice.id }}">
          <p>{{ choice.text }}</p>
          <span class="badge badge-info float-right"
            >{{ choice.votes }} vote{{ choice.votes | pluralize }}</span
          >
        </li>
        {% endfor %}
      </ul>

      <div id="myChart"></div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    // ZingChart
    var myConfig = {
      type: "pie",
      plot: {
        borderColor: "#2B313B",
        borderWidth: 5,
        valueBox: {
          placement: "out",
          text: "%t\n%npv%",
        },
        tooltip: {
          fontSize: "18",
          padding: "5 10",
          text: "%npv%",
        },
        animation: {
          effect: 2,
          method: 5,
          speed: 900,
          sequence: 1,
          delay: 1000,
        },
      },
      source: {
        text: "DjangoEdu.com",
        fontColor: "#8e99a9",
      },
      title: {
        fontColor: "#8e99a9",
        text: "The Choice Rating:",
        align: "left",
        offsetX: 10,
        fontSize: 25,
      },
      subtitle: {
        offsetX: 10,
        offsetY: 10,
        fontColor: "#8e99a9",
        fontSize: "16",
        text: "Based on your option and everybody in the World.",
        align: "left",
      },
      plotarea: {
        margin: "80 0 0 0",
      },
      series: [
        // Format value of series
        // {
        //   text: "Chrome",
        //   values: [56.94],
        //   backgroundColor: "#FF7965",
        //   detached: true,
        // },
      ],
    };

    function updateZingChart() {
      // reset data
      myConfig.series = [];

      $("[data-choice-id]").each(function (index, element) {
        myConfig.series.push({
          text: $(this).children("p").text(),
          values: [+$(this).children("span").text().replace(" votes", "")], // ZingChart will automatically calculate value ratio
          backgroundColor:
            "#" + Math.floor(Math.random() * 16777215).toString(16),
          detached: true,
        });
      });

      zingchart.render({
        id: "myChart",
        data: myConfig,
      });
    }

    updateZingChart();

    function alertMessage(message) {
      // update alert
      const alert = $(".alert");
      alert.removeClass("d-none");
      alert.children("span").text(message);
      alert.children("button").click(function (e) {
        e.preventDefault();

        alert.children("span").text("");
        alert.addClass("d-none");
      });

      // reload page automatically
      setTimeout(function () {
        alert.children("span").text("");
        alert.addClass("d-none");
      }, 5000);
    }

    $("#btn-vote").click(function (e) {
      e.preventDefault();

      const questionId = $(this).data("question-id");
      $.ajax({
        type: "POST",
        url: `/pollers/${questionId}/vote/`,
        data: {
          choice: $("input[name='choice']:checked").val(),
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
        },
        success: function ({
          selected_choice_id,
          selected_choice_text,
          selected_choice_votes,
          error_message,
        }) {
          if (error_message) {
            return alertMessage(error_message);
          }

          $(`[data-choice-id='${selected_choice_id}']`)
            .children("span")
            .text(`${selected_choice_votes} votes`);

          updateZingChart();

          alertMessage(`+1 vote for ${selected_choice_text}.`);
        },
      });
    });
  });
</script>
{% endblock %}
