{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Edu</title>
    <link
      rel="shortcut icon"
      href="{% static 'img/favicons/favicon.ico' %}"
      type="image/x-icon"
    />

    {% comment %} Animate {% endcomment %}
    <link rel="stylesheet" href="{% static 'vendors/animate.min.css' %}" />

    {% comment %} Font-awesome {% endcomment %}
    <link
      rel="stylesheet"
      href="{% static 'vendors/fontawesome-5.15.2/css/all.min.css' %}"
    />

    {% comment %} Fancy Box {% endcomment %}
    <link
      rel="stylesheet"
      href="{% static 'vendors/fancybox-3/dist/jquery.fancybox.min.css' %}"
    />

    {% comment %} Bootstrap {% endcomment %}
    <link
      rel="stylesheet"
      href="{% static 'vendors/bootstrap-4.5.3/css/bootstrap.min.css' %}"
    />

    {% comment %} Custom CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <header>{% include 'partials/header.html' %}</header>
    <main class="min-vh-100">{% block content %}{% endblock content %}</main>
    <footer>{% include 'partials/footer.html' %}</footer>

    {% comment %} WOW {% endcomment %}
    <script src="{% static 'vendors/wow.min.js' %}"></script>

    {% comment %} JQuery {% endcomment %}
    <script src="{% static 'vendors/jquery-3.5.1.min.js' %}"></script>

    {% comment %} Isotope {% endcomment %}
    <script src="{% static 'vendors/isotope.pkgd.min.js' %}"></script>

    {% comment %} Zing Chart {% endcomment %}
    <script src="{% static 'vendors/zingchart-2.9.2/zingchart.min.js' %}"></script>

    {% comment %} GSAP {% endcomment %}
    <script src="{% static 'vendors/gsap-3.6.0/minified/gsap.min.js' %}"></script>

    {% comment %} Font-awesome {% endcomment %}
    <script src="{% static 'vendors/fontawesome-5.15.2/js/all.min.js' %}"></script>

    {% comment %} Fancy Box {% endcomment %}
    <script src="{% static 'vendors/fancybox-3/dist/jquery.fancybox.min.js' %}"></script>

    {% comment %} Bootstrap {% endcomment %}
    <script src="{% static 'vendors/bootstrap-4.5.3/js/bootstrap.min.js' %}"></script>

    {% comment %} Custom JS {% endcomment %}
    <script src="{% static 'js/base.js' %}"></script>
  </body>
</html>
